
    <footer class="footer">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-3 footer__logo">
                <h4>PhotoGallery</h4>
            </div>
            <div class="col-lg-3 address">
              <p>John Street,<br>Doe Building<br>11/8 EDIRNE/TURKEY</p>
            </div>
            <div class="col-lg-3 emails">
              <div class="email-wrapper row">
                <p class="email">info@envato.com</p>
              </div>
              <div class="phone-wrapper row">
                <p class="phone">900 800 70 60</p>
              </div>

            </div>
            <div class="col-lg-3 social">
              <div class="social__icons d-flex justify-content-around">
                 <img src="{% static '/img/facebook-icon.png' %}" alt="facebook-icon">
                 <img src="{% static '/img/twitter-icon.png' %}" alt="twitter-icon">
                  <img src="{% static '/img/linkedin-icon.png' %}" alt="linkedin-icon">
                  <img src="{% static '/img/plus-icon.png' %}" alt="plus-icon">
              </div>
              <p class="social__text">All right reserved</p>
            </div>
          </div>
        </div>
      </footer>